header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .navbar {
        background-color: #131212;

        .nav-item:hover .nav-link {
            transform: scale(1.2);
        }
    }

    .right-content {
        :hover {
            transform: scale(1.2);
        }

        i {
            color: #fff;
            transition: all 0.5s;
            cursor: pointer;
        }

        .content-number {
            position: absolute;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            line-height: 16px;
            background-color: #fff;
            text-align: center;
            top: -6px;
            transition: all 0.5s;
            font-size: 12px;
        }

        .content-display {
            position: relative;

        }
    }



    .nav-item .nav-link {
        color: #fff;
        transition: all 0.5s;
    }
}

// modal


.modal {
    @media screen and (min-width:$xs) {
        .modal-dialog {
            max-width: 100%;
            margin: 0;
        }
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        position: unset;
        margin: 0;
    }

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
    }

    .modal-header {
        border: none;
        align-items: center;

        h5 {
            flex: auto;
        }

        .close {
            margin: 0;
            padding: 0;
        }
    }

    #table-list {
        img {

            height: 50px;
            max-width: 50px;

            margin-right: 5px;
            object-fit: cover;
        }

        button {
            border: none;
            background: none;
        }
    }

    #total {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 16px;

        span {
            align-self: flex-end;
        }
    }
}

@include Reponsive($md) {
    .modal .modal-content {
        width: 70%;
    }
}

@include Reponsive($sm) {
    .modal .modal-content {
        width: 80%;
    }
}

@include Reponsive($xs) {
    .modal {

        .modal-content {
            width: 100%;
        }

         #table-list {
            font-size: 12px;
            img{
            height: auto;
            max-width: 30px;
         }
        }
    }
}