header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .navbar {
        background-color: #131212;

        .nav-item:hover .nav-link {
            transform: scale(1.2);
        }
    }

    .right-content {
        :hover {
            transform: scale(1.2);
        }

        i {
            color: #fff;
            // font-size: 24px;
            transition: all 0.5s;
            cursor: pointer;
        }

        .content-number {
            position: absolute;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            line-height: 16px;
            background-color: #fff;
            text-align: center;
            top: -6px;
            transition: all 0.5s;
            font-size: 12px;
        }

        .content-display {
            position: relative;

        }
    }



    .nav-item .nav-link {
        color: #fff;
        transition: all 0.5s;
    }
}

// modal

.modal {
    
    .modal-dialog {
        position: unset;

    }

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
    }

    .modal-header {
        border: none;
        align-items: center;
        h5{
            flex: auto;
        }
        .close {
            margin: 0;
            padding: 0;
        }
    }
    #table-list {
        img{
            width: 50px;
            height: 30px;
            max-width: 30px;
            border-radius: 50%;
            margin-right: 5px;
            object-fit: cover;
        }
    }
    .btnQuantity{
        border: none;
        background: none;
    }
}